body {
  padding-top: 100px;
}

.login-instructions {
   text-align: center;
}

.todo-list {
    margin: 20px auto;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

#newTask {
    width: 90%;
}

.todo-list {
  background: #E7E6E8;
}

.todo-list ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.todo-list li:nth-child(odd) {
  background: #E0E0E0;
}

.todo-list input[type="checkbox"] {
  float; left;
  position: relative;
  top: 2px;
  left: 5px;
}

.todo-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .3);
}

.todo-list label {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0;
  transition: all .3s ease;
  width: 90%;
}

.todo-list li a {
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
}